.App-header {
  background-color: #30c2ae;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  padding: 20px;
}

.Nav_bar {
  text-align: center;
  align-items: center;
}

.centreHeader {
  text-align: center;
  align-items: center;
}
