.App-header {
  background-color: #30c2ae;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  padding: 20px;
}

.Nav_bar {
  text-align: center;
  align-items: center;
  margin: 1em;
}

.centreHeader {
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .homeVideo {
    align-items: center;
    margin: auto;
    padding: 100px;
  }

  iframe {
    display: block;
    border-style: none;
  }
}

@media screen and (max-width: 600px) {
  .homeVideo {
    align-items: center;
    margin: auto;
    max-width: fit-content;
    padding: 0;
  }

  iframe {
    display: block;
    border-style: none;
  }
}
